<h2>Dashboard</h2>

<p>User Profile Information</p>
<ul>
    <li>Username: <%= @current_user.username %></li>
    <li><a href="/profile">User Profile</a></li>
</ul>

<p>All Posts</p>
<form action="/dashboard" method="post">
    <input type="text" name="title" placeholder="Title">
    <textarea name="content" cols="30" rows="10" placeholder="Content..."></textarea>
    <input type="submit" value="Submit">
</form>

<div id="posts">
    <% for i in (@posts.length-1).downto(0) %>
        <div class="post">
            <p><%= @posts[i].title %> by <%= @posts[i].user.username %> on <%= (@posts[i].updated).to_s[0..9] %></p>
            <p><%= @posts[i].content %></p>
        </div>
    <% end %>
</div>