<h1>The Watchman Dashboard</h1>

<ul>
    <li>Username: <%= @current_user.username %></li>
    <li>Real Name: <%= @current_user.first_name %> <%= @current_user.last_name %></li>
    <li>Email: <%= @current_user.email %></li>
    <li>Birthday: <%= @current_user.birthday %></li>
    <li><a href="/profile">User Profile</a></li>
</ul>
