
<div id="dashboard-sect">
    <div class="side-profile">
        <h4 class="signed-in-h4">Dashboard</h4>
        <ul>
            <li><%= @current_user.username %></li>
            <a href="/profile"><img src="<%= @current_user.avatar_url %>" alt="<%= @current_user.username %>'s avatar image"></a>
            <li><a class="signout-btn" href="/signout">Sign Out</a></li>
        </ul>
    </div>

    <div class="wall-container">
        <div class="wall">
            <div class="create-posts">
                <a class="wall-img-container" href="/profile">
                    <img src="<%= @current_user.avatar_url %>" alt="<%= @current_user.username %>'s avatar image">
                </a>
                <form action="/dashboard" method="post">
                    <div class="form-container">
                        <p><strong><a class="post-username" href="/profile"><%= @current_user.username %></a></strong></p>
                        <input class="input-field" type="text" name="title" placeholder="Title">
                        <br>
                        <textarea class="input-field" name="content" placeholder="Content..."></textarea>
                        <hr class="post-hr">
                        <input class="post-btn" type="submit" value="Post">
                    </div>
                </form>
            </div>

            <% i = 1 %>
            <% while (i <= (@posts.length / 5).ceil) %>
                <% count = 0 %>
                <div class="posts-<%= i %>">
                    <% for i in (@posts.length-1).downto(0) %>
                        <% count += 1 %>
                        <div class="post">
                            <a class="wall-img-container" href="/profile/<%= @posts[i].user.id %>">
                                <img src="<%= @posts[i].user.avatar_url %>" alt="<%= @posts[i].user.username %>'s avatar image">
                            </a>
                            <div class="post-align">
                                <div class="post-container">
                                    <p><strong><a class="post-username" href="/profile/<%= @posts[i].user.id %>"><%= @posts[i].user.username %></a></strong></p>
                                    <p class="post-title"><%= @posts[i].title %></p> 
                                    <p class="post-date">published on: <%= (@posts[i].updated).to_s[0..9] %></p>
                                    <p><%= @posts[i].content %></p>
                                </div>
                            </div>
                        </div>
                        <% count += 1 %>
                        <% if (count == 5) %>
                            <% break %>
                        <% end %>
                    <% end %>
                </div>
                <% i += 1 %>
            <% end %>

            <div class="down-btn">
                <img src="/images/arrow-down-sign-to-navigate.svg" alt="down arrow">
            </div>
        </div>
    </div>
</div>
