<h2><%= @other_user.username %>'s Profile</h2>

<p>User Profile Information</p>
<ul>
    <li>Username: <%= @other_user.username %></li>
    <li>Real Name: <%= @other_user.first_name %> <%= @other_user.last_name %></li>
    <li>Email: <%= @other_user.email %></li>
    <li>Birthday: <%= (@other_user.birthday).to_s[0..9] %></li>
    <li><a href="/profile">Settings</a></li>
</ul>

<div class="posts">
    <% for i in (@other_user.posts.length-1).downto(0) %>
        <div class="post">
            <p><%= @other_user.posts[i].title %> by <%= @other_user.posts[i].user.username %> on <%= (@other_user.posts[i].updated).to_s[0..9] %></p>
            <p><%= @other_user.posts[i].content %></p>
        </div>
    <% end %>
</div>