<h2><%= @current_user.username %>'s Profile</h2>

<p>User Profile Information</p>
<ul>
    <li>Username: <%= @current_user.username %></li>
    <li>Real Name: <%= @current_user.first_name %> <%= @current_user.last_name %></li>
    <li>Email: <%= @current_user.email %></li>
    <li>Birthday: <%= (@current_user.birthday).to_s[0..9] %></li>
    <li>Updated: <%= (@current_user.updated).to_s[0..9] %></li>
    <li><a href="/settings">Settings</a></li>
</ul>

<p><%= @current_user.username %>'s Posts</p>
<form action="/profile" method="post">
    <input type="text" name="title" placeholder="Title">
    <textarea name="content" cols="30" rows="10" placeholder="Content..."></textarea>
    <input type="submit" value="Submit">
</form>

<div class="posts">
    <% for i in (@current_user.posts.length-1).downto(0) %>
        <div class="post">
            <form action="/deletepost" method="post">
                <input type="hidden" name="post_id" value="<%= @current_user.posts[i].id %>">
                <p><%= @current_user.posts[i].title %> by <%= @current_user.posts[i].user.username %> on <%= (@current_user.posts[i].updated).to_s[0..9] %></p>
                <p><%= @current_user.posts[i].content %></p>
                <input type="submit" value="Delete">
            </form>
        </div>
    <% end %>
</div>